* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: Lato;
  font-size: 15px;
  line-height: 15px;
  background: #fbfbfb;
}

.card {
  display: flex;
  width: 284px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
  margin: 50px;
}

.product {
  display: flex;
  align-items: center;
  gap: 15px;
  align-self: stretch;
  img {
    width: 40px;
  }
  .product-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1 0 0;
  }
  .product-title {
    font-weight: 700;
    align-self: stretch;
  }
}

button {
  display: flex;
  width: 244px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #0a003c;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: 0px;
  transition: background 0.3s ease;
}

button:hover {
  background: #4924ff;
  cursor: pointer;
}
